<ng-container *ngIf="isAuthenticated(); else loginPage">
  <app-header [selectedFileName]="selectedFileName"></app-header>
  <div class="flex">
    <app-side-menu (filesFetched)="onFileSelected($event)" (selectedFileName)="selectedFileName"></app-side-menu>
    <div class="text-black flex-grow p-6 overflow-auto bg-gray-200 w-full mt-0">
      <app-vista-tabla [fileContent]="fileContent" [selectedFileName]="selectedFileName"></app-vista-tabla>
    </div>
  </div>
</ng-container>
<ngx-ui-loader [overlayColor]="'rgba(243,245,250,0.8)'" [fgsType]="'folding-cube'" [fgsColor]="'#382c84'"
  [hasProgressBar]="false"></ngx-ui-loader>
<ng-template #loginPage>
  <router-outlet></router-outlet>
</ng-template>