<div>
    <!-- Formulario de filtros -->
    <form [formGroup]="filterForm" (ngSubmit)="applyFilters()">
      <div class="filter-container">
        <!-- Dropdown para seleccionar columna -->
        <label for="column">Columna:</label>
        <select formControlName="column" id="column">
          <option *ngFor="let column of columns" [value]="column">{{ column }}</option>
        </select>
  
        <!-- Campo para pos_start -->
        <label for="pos_start">Inicio:</label>
        <input type="number" formControlName="pos_start" id="pos_start" />
  
        <!-- Campo para pos_end -->
        <label for="pos_end">Fin:</label>
        <input type="number" formControlName="pos_end" id="pos_end" />
  
        <!-- Botón para aplicar el filtro -->
        <button type="submit" class="btn-filter">Filtrar</button>
      </div>
    </form>
  </div>

  <!-- Tabla -->
<table *ngIf="filteredData.length" class="table-auto border-collapse border border-gray-300">
    <thead>
      <tr>
        <th class="border border-gray-300 px-4 py-2">#</th>
        <th *ngFor="let column of columns" class="border border-gray-300 px-4 py-2">
          {{ column }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of paginatedData; let i = index">
        <td class="border border-gray-300 px-4 py-2">{{ getIndex(i) }}</td>
        <td *ngFor="let column of columns" class="border border-gray-300 px-4 py-2">
          {{ row[column] }}
        </td>
      </tr>
    </tbody>
  </table>
<!--
<table *ngIf="fileContent && fileContent.length" class="table-auto border-collapse border border-gray-300 w-full">
    <thead>
      <tr>
        <th class="border border-gray-300 px-4 py-2">#</th> 
        <th *ngFor="let column of columns" class="border border-gray-300 px-4 py-2">
          <span (click)="toggleDropdown(column)" class="cursor-pointer">
            {{ column }}
            <span class="ml-2">&#9660;</span>
          </span>

          
          <div *ngIf="showDropdown[column]" class="dropdown-content">
            <select [(ngModel)]="filters[column]" (ngModelChange)="onFilterChange($event, column)">
              <option value="">Seleccionar {{ column }}</option>
              <option *ngFor="let value of getUniqueValues(column)" [value]="value">
                {{ value }}
              </option>
            </select>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of paginatedData; let i = index">
        <td class="border border-gray-300 px-4 py-2">{{ getIndex(i) }}</td> 
        <td *ngFor="let column of columns" class="border border-gray-300 px-4 py-2">
          {{ row[column] }}
        </td>
      </tr>
    </tbody>
  </table>
-->
  <div *ngIf="filteredData.length > rowsPerPage" class="pagination flex items-center justify-center space-x-5">
    <button (click)="prevPage()" [disabled]="currentPage === 1" class="flex items-center space-x-2 px-6 py-3 bg-blue-500 text-white rounded-lg">
      <span>Anterior</span>
    </button>
    <span>Página {{ currentPage }} de {{ totalPageCount }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPageCount" class="flex items-center space-x-2 px-6 py-3 bg-blue-500 text-white rounded-lg">
      <span>Siguiente</span>
    </button>
  </div>
  