:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5; /* Mantiene el color de fondo */
    margin: 0;
  }
  
  .error-message {
    font-size: 12px;
    color: red;
    margin-top: 5px;
    min-height: 20px; /* Establece un tamaño mínimo para el área de error */
  }
  
  .register-container {
    width: 100%;
    max-width: 400px;
    min-height: 400px;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espaciado entre los campos */
    position: relative;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[disabled] {
    background-color: #ccc;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between; /* Asegura separación entre "Registrar" y "Cancelar" */
    gap: 10px;
  }
  
  .links {
    margin-top: 10px;
    text-align: center;
  }
  
  .links a {
    margin-right: 10px;
    text-decoration: none;
    color: #007bff;
  }
  