<div class="login-container">
  <h2>Inicio Sesión</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <!-- Usuario -->
    <label for="username">Usuario</label>
    <input id="username" type="text" formControlName="username" placeholder="Ingrese su Usuario" />
    <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
      <small class="error-message">El usuario no existe o no es válido</small>
    </div>

    <!-- Contraseña -->
    <label for="password">Contraseña</label>
    <input id="password" type="password" formControlName="password" placeholder="Ingrese su contraseña" />
    <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
      <small class="error-message">La contraseña debe tener al menos 6 caracteres</small>
    </div>

    <!-- Llave de acceso -->
    <label for="access_key">Llave de acceso</label>
    <input id="access_key" type="password" formControlName="access_key" placeholder="Ingrese su llave de acceso" />
    <div *ngIf="loginForm.get('access_key')?.invalid && loginForm.get('access_key')?.touched">
      <small class="error-message">La llave de acceso debe tener al menos 6 caracteres</small>
    </div>

    <!-- Botón de envío -->
    <button type="submit" [disabled]="!loginForm.valid">Iniciar Sesión</button>
  </form>

  <!-- Mensaje de error general -->
  <div *ngIf="errorMessage" class="error-message">
    <p>{{ errorMessage }}</p>
  </div>

  <!-- Links -->
  <div class="links">
    <a routerLink="/forgot-password">Olvidé mi contraseña</a>
    <a routerLink="/register">Registrar</a>
  </div>
</div>
